
##############################
## Folders                  ##
##############################
.idea
 
##############################
## Netbeans conf            ##
##############################
.idea/workspace.xml
.idea/workspace.xml
